*.wav filter=lfs diff=lfs merge=lfs -text
01fourinchesaway filter=lfs diff=lfs merge=lfs -text
02happynow filter=lfs diff=lfs merge=lfs -text
03math filter=lfs diff=lfs merge=lfs -text
04slownewsday filter=lfs diff=lfs merge=lfs -text
05worthy filter=lfs diff=lfs merge=lfs -text
06whereiam filter=lfs diff=lfs merge=lfs -text
07thislovesong filter=lfs diff=lfs merge=lfs -text
o8fiftyyellowtulips filter=lfs diff=lfs merge=lfs -text
09fourweeks filter=lfs diff=lfs merge=lfs -text
10idareyou filter=lfs diff=lfs merge=lfs -text
11pieceofsky filter=lfs diff=lfs merge=lfs -text
12boyslive filter=lfs diff=lfs merge=lfs -text
Bottle filter=lfs diff=lfs merge=lfs -text
And filter=lfs diff=lfs merge=lfs -text
A filter=lfs diff=lfs merge=lfs -text
gun filter=lfs diff=lfs merge=lfs -text
BottleAndAGun filter=lfs diff=lfs merge=lfs -text
CloseToJesus filter=lfs diff=lfs merge=lfs -text
ColdEnough filter=lfs diff=lfs merge=lfs -text
BottleandaGun filter=lfs diff=lfs merge=lfs -text
ClosetoJesus filter=lfs diff=lfs merge=lfs -text
ITried filter=lfs diff=lfs merge=lfs -text
Indiana filter=lfs diff=lfs merge=lfs -text
InfiniteDecember filter=lfs diff=lfs merge=lfs -text
OnMeNow filter=lfs diff=lfs merge=lfs -text
Radiate filter=lfs diff=lfs merge=lfs -text
RazorInHisHand filter=lfs diff=lfs merge=lfs -text
Wildflowers filter=lfs diff=lfs merge=lfs -text
