*.wav filter=lfs diff=lfs merge=lfs -text
01fourinchesaway filter=lfs diff=lfs merge=lfs -text
02happynow filter=lfs diff=lfs merge=lfs -text
03math filter=lfs diff=lfs merge=lfs -text
04slownewsday filter=lfs diff=lfs merge=lfs -text
05worthy filter=lfs diff=lfs merge=lfs -text
06whereiam filter=lfs diff=lfs merge=lfs -text
07thislovesong filter=lfs diff=lfs merge=lfs -text
