*.wav filter=lfs diff=lfs merge=lfs -text
01fourinchesaway filter=lfs diff=lfs merge=lfs -text
02happynow filter=lfs diff=lfs merge=lfs -text
03math filter=lfs diff=lfs merge=lfs -text
04slownewsday filter=lfs diff=lfs merge=lfs -text
05worthy filter=lfs diff=lfs merge=lfs -text
06whereiam filter=lfs diff=lfs merge=lfs -text
07thislovesong filter=lfs diff=lfs merge=lfs -text
o8fiftyyellowtulips filter=lfs diff=lfs merge=lfs -text
09fourweeks filter=lfs diff=lfs merge=lfs -text
10idareyou filter=lfs diff=lfs merge=lfs -text
11pieceofsky filter=lfs diff=lfs merge=lfs -text
12boyslive filter=lfs diff=lfs merge=lfs -text
Bottle filter=lfs diff=lfs merge=lfs -text
And filter=lfs diff=lfs merge=lfs -text
A filter=lfs diff=lfs merge=lfs -text
gun filter=lfs diff=lfs merge=lfs -text
BottleAndAGun filter=lfs diff=lfs merge=lfs -text
CloseToJesus filter=lfs diff=lfs merge=lfs -text
ColdEnough filter=lfs diff=lfs merge=lfs -text
BottleandaGun filter=lfs diff=lfs merge=lfs -text
ClosetoJesus filter=lfs diff=lfs merge=lfs -text
ITried filter=lfs diff=lfs merge=lfs -text
Indiana filter=lfs diff=lfs merge=lfs -text
InfiniteDecember filter=lfs diff=lfs merge=lfs -text
OnMeNow filter=lfs diff=lfs merge=lfs -text
Radiate filter=lfs diff=lfs merge=lfs -text
RazorInHisHand filter=lfs diff=lfs merge=lfs -text
Wildflowers filter=lfs diff=lfs merge=lfs -text
FirstAve.wav filter=lfs diff=lfs merge=lfs -text
LakeStreet.wav filter=lfs diff=lfs merge=lfs -text
Skyline.wav filter=lfs diff=lfs merge=lfs -text
ColdAsSnow.wav filter=lfs diff=lfs merge=lfs -text
GoodTimes.wav filter=lfs diff=lfs merge=lfs -text
SpringCocaine.wav filter=lfs diff=lfs merge=lfs -text
Weight.wav filter=lfs diff=lfs merge=lfs -text
StoryOfUs.wav filter=lfs diff=lfs merge=lfs -text
SkylineHeaven.wav filter=lfs diff=lfs merge=lfs -text
WoundedWinter.wav filter=lfs diff=lfs merge=lfs -text
CrawlingHome.wav filter=lfs diff=lfs merge=lfs -text
CloserCorners.wav filter=lfs diff=lfs merge=lfs -text
HardTimes.wav filter=lfs diff=lfs merge=lfs -text
SkySoBlue.wav filter=lfs diff=lfs merge=lfs -text
MakingMyName.wav filter=lfs diff=lfs merge=lfs -text
JTrain.wav filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
01GingerbreadMan.mp3 filter=lfs diff=lfs merge=lfs -text
02SkyAsIs filter=lfs diff=lfs merge=lfs -text
02SkyAsIs.mp3 filter=lfs diff=lfs merge=lfs -text
03FastFoodHeaven filter=lfs diff=lfs merge=lfs -text
04FadedStar filter=lfs diff=lfs merge=lfs -text
05OwnTheView filter=lfs diff=lfs merge=lfs -text
06Resolutions filter=lfs diff=lfs merge=lfs -text
07TiredOfSnow filter=lfs diff=lfs merge=lfs -text
08GingerbreadMan filter=lfs diff=lfs merge=lfs -text
09HappyNow filter=lfs diff=lfs merge=lfs -text
10SlowNewsDay filter=lfs diff=lfs merge=lfs -text
01FirstAvenue.mp3 filter=lfs diff=lfs merge=lfs -text
02LakeStreet.mp3 filter=lfs diff=lfs merge=lfs -text
03Skyline.mp3 filter=lfs diff=lfs merge=lfs -text
04ColdAsSnow.mp3 filter=lfs diff=lfs merge=lfs -text
05GoodTimes.mp3 filter=lfs diff=lfs merge=lfs -text
06SpringCocaine.mp3 filter=lfs diff=lfs merge=lfs -text
07TheWeight.mp3 filter=lfs diff=lfs merge=lfs -text
