.audio-page-wrapper {
  /* padding: 20px; */
  font-family: "Michroma", sans-serif;
}

.card-body-style {
  width: 30rem;
  background-color: rgb(255, 255, 255, 0.45);
}

.ap-list-item {
  margin-bottom: 5px;
}

.ap-track-span {
  cursor: pointer;
  flex: 1;
  color: white;
}

.ap-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.475rem 1rem;
  cursor: default;
  font-size: 14px;
}

.ap-audio-error {
  text-align: center;
  margin-top: 10px;
}

.accordion-header .accordion-button {
  font-size: 1rem;
}

.accordion-button {
  pointer-events: none;
}

.accordion-button::after {
  pointer-events: all;
}

.custom-arrow {
  color: #2698c7;
}

.custom-arrow:hover {
  background-color: #cacaca;
  color: white;
}

.accordion {
  --bs-accordion-active-bg: gray;
  --bs-accordion-active-color: white;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  font-size: 12px;
  white-space: pre-wrap;
  color: white;
}

.ap-guitar {
  height: 50px;
  border-radius: 8px;
}
@media only screen and (max-width: 1368px) {
  .card-body-style {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .card-body-style {
    width: 20rem;
  }

}

@media only screen and (max-width: 768px) {
  .card-body-style {
    width: 25rem;
  }
  
}

@media only screen and (max-width: 430px) {
  .card-body-style {
    width: 25rem;
  }
  
}

@media only screen and (max-width: 414px) {
  .card-body-style {
    width: 22rem;
    
  }

}

@media only screen and (max-width: 375px) {
  .card-body-style {
    width: 22rem;
  }

}

@media only screen and (max-width: 360px) {
  .card-body-style {
    width: 20rem;
   
  }
}

@media only screen and (max-width: 344px) {
  .card-body-style {
    width: 18rem;
  }

.ap-controls-wrapper {
    flex-direction: row;
    /* gap: 10px; */
  }



  audio {
    width: 100%;
  }
}
