
.btn-btn {
    width: 20px;
    height: 20px;
    /* font-size: 0.9rem;
    padding: 8px 12px; */
}

/* @media only screen and (max-width: 344px) {
.btn-btn {
    width: 50px !important;
    height: auto;
}
} */