

.out-div {
    background-image: url('../../assets/headshot_edit3.jpeg');
    width: 100%;
}

.page-header {
    margin-top: 30px;
    text-align: center;
    font-family: 'Michroma', sans-serif;
    color: white; 
    font-size: 50px;;
}

/* .album-header {
    color: white;
 
  text-shadow: -1px -1px 0 white, 1px -1px 0 #b5b5b5, -1px 1px 0 white, 1px 1px 0 #b5b5b5;
} */

@media only screen and (max-width: 1368px) {

    .page-header p {
        font-size: 20px;
    }

}

@media only screen and (max-width: 414px) {
    .page-header p {
        font-size: 16px;
    }

}