   .outer-div {
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    margin-top: 40px;
    /* border: 2px solid blue; */
   }

   .inner-div {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: row; */
    gap: 40px;
    /* border: 2px solid green; */

   }

   .album-header-div {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Michroma', sans-serif;
   }

   .album-header {
    font-size: 40px;
   }

   .album-cover {
    width: 25rem;
   }

   p {
    font-size: 30px;
   }
   
   .card-style {

width: 25rem;
text-align: left;
background-color: '#f0f0f0';
font-family: 'Michroma', sans-serif;
}
   .accordion-header .accordion-button {
  font-size: .75rem; /* Adjust this value as needed */
}
/* .accordion-header:hover {
  text-decoration: underline;
} */
   .accordion-button {
        pointer-events: none;
    }

        .accordion-button::after {
        pointer-events: all;
        
       
    }

    .custom-arrow:hover {
        background-color: gray;
        color: white;

    }

.accordion {
  --bs-accordion-active-bg: gray; /* Example: light gray background when open */
  --bs-accordion-active-color: white; /* Optional: change text color when open */
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  font-size: 12px;
}

.carousel-container {
  /* border: 2px solid blue; */
  width: 30rem;
  margin: 0 auto;
  /* text-align: center; */
  position: relative;
  /* align-items: center; */
  justify-content: center;
}

.carousel-card {
  background: #f0f0f0;
  height: auto;

  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.blurb-text {
  font-size: 18px;
}

.carousel-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
 
}

.carousel-indicators {

  gap: 6px;
  margin: 0; 
position: relative;
  
}

.card-button {
  background-color: #dedede;

  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.card-button:hover {
  background-color: #6e6e6e;
}

.player-button {
  background-color: #6e6e6e;

  border: none;
  /* padding: 10px 16px; */
  /* border-radius: 50%; */
  cursor: pointer;
}

.player-button:hover {
  background-color: #dedede;
}

.player-button:disabled {
  background-color: #a9a9a9;
  cursor: not-allowed;
}


.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
}

.dot.active {
  background-color: white;
}

@media only screen and (max-width: 1024px) {
.card-style {
width: 20rem;
}
  p {
    font-size: 20px;
   }
   .album-cover {
    width: 20rem;
   }
      .album-header {
    font-size: 18px;
   }
       .inner-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    border: 2px solid green;

   }

   .carousel-container {
    width: 20rem;

    border: 2px solid red;
   }
   audio {
  max-width: 100%;
}
}


@media only screen and (max-width: 414px) {

.card-style {
width: 20rem;
}
  p {
    font-size: 20px;
   }
   .album-cover {
    width: 20rem;
   }
      .album-header {
    font-size: 18px;
   }
       .inner-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    border: 2px solid green;

   }

   .carousel-container {
    width: 20rem;

    border: 2px solid red;
   }
   audio {
  max-width: 100%;
}

}

@media only screen and (max-width: 375px) {

   .album-header {
    font-size: 16px;
   }
audio {
  max-width: 100%;
}


}

