

.sub-cover-outer {
       display: flex;
  justify-content: center;
  margin-top: 40px;
}


.sub-cover {
    width: 35rem;
}

.sub-comp-outer {
    display: flex;
  justify-content: center;
  margin-top:  40px;
  margin-bottom: 40px;


}

@media only screen and (max-width: 820px) {

.sub-comp-outer {
 flex-direction: column;
}
   .sub-cover {
    width: 30rem;
   }

}

@media only screen and (max-width: 820px) {

  .mobile-div {
    display: flex;
    justify-content: center;
  }

}

@media only screen and (max-width: 768px) {

  /* .mobile-div {
    display: flex;
    justify-content: center;
  } */
   /* .sub-cover {
    width: 30rem;
   } */

}

@media only screen and (max-width: 430px) {

  /* .mobile-div {
    display: flex;
    justify-content: center;
  } */

}


@media only screen and (max-width: 430px) {
 .sub-cover {
  width: 25rem;
 }



}

@media only screen and (max-width: 414px) {
 .sub-cover {
  width: 22rem;
 }



}


@media only screen and (max-width: 375px) {
 .sub-cover {
  width: 22rem;
 }



}

@media only screen and (max-width: 360px) {
 .sub-cover {
  width: 20rem;
 }



}