.cc-page-outer {
  position:relative;
/* border: 2px solid green; */
display: flex;
align-items: stretch;
}
 .cc-test {
    display: flex;
  justify-content: center;
  flex-direction: column;
 }

.cc-header-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 27px;
/* border: 2px solid blue; */
    background-color: gray; 
}

.cc-header-span {
  background-color: #e3e3e3;
  height: 27px; 
  padding-left: 5px;
  padding-right: 5px;
}

.cc-header-h4 {
  color: gray;
  text-shadow: 1px 1px 1px #2698c7;
}
.carousel-container {
  width: 25rem;
    margin: 0 auto;

  justify-content: center;
}

.carousel-card {
  background: #f0f0f0;
  height: 49.5rem;
  padding: 30px 20px;
 
}

.cc-btns {
  display: flex;
  justify-content: space-between;
}

.blurb-div {
  max-height: 400px;

}

.blurb-text {
  font-size: 19px;
  font-family: 'oxanium', sans-serif;
  color: #5f5f5f;
  text-align: center;
  

  
}

.blurb-span {
  background-color: white;
}

h4 {
  font-family: 'oxanium', sans-serif;
}

.blurb-header {
  font-weight: bold;
}

.blurb-text {
  white-space: pre-wrap;
}

.carousel-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  
 
}

.carousel-indicators {

  gap: 6px;
  margin: 0; 
position: relative;
  
}

.card-button {
  display: flex;

  justify-content: center;
  background-color: #dedede;
  align-items: center;
  border: none;
  margin: 0 10px 0 10px;

  border-radius: 10px;
  cursor: pointer;
}


.left-button {

  display: flex;
  align-items: flex-start;
}

.right-button {
  display: flex;

 align-items: flex-start;
}


.card-button:hover {
  background-color: #2698c7;
}



@media only screen and (max-width: 540px) {

  .carousel-container {
    width: 22rem;
  }

  /* .blurb-text {
    font-size: 15px;
  } */

}

@media only screen and (max-width: 430px) {
.carousel-card {
  height: auto;
  width: 22rem;
  max-width: 100% !important;
  box-sizing: border-box;
  margin-left: 0;
}

.carousel-container {
    display: flex;
  justify-content: center;
}

.cc-header-mobile {
  display: flex;
  justify-content: center;
}

.cc-card-mobile {

   display: flex;
  justify-content: center;
}

.cc-header-outer {
  margin-top: 10px;
  margin-left: 0;
  width: 22rem;
  max-width: 100% !important;
  box-sizing: border-box;
}
.blurb-header {
  font-size: 15px;

}
.blurb-text {
  font-size: 16px;
}
.left-button {
 width: 15%;
 display: flex;
 justify-content: center;
}
.right-button {
 width: 15%;
 display: flex;
 justify-content: center;
}
}





@media only screen and (max-width: 375px) {
.carousel-container {
  
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

.cc-mobile-test {
  width: 20rem;
}

.carousel-card {
  width: 22rem;
}
/* .cc-header-outer {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
} */

.cc-header-mobile {

  display: flex;
  justify-content: center;
}
.blurb-text {
  font-size: 16px;
}
}

@media only screen and (max-width: 360px) {
  .cc-page-outer {
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
  }
  .carousel-container {
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
  }
  .cc-header-outer {
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
  }

  .cc-mobile-360 {
    display: flex;
    justify-content: center;
  }

.blurb-text {
  font-size: 18px;
}


}
