
.ac-header-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 27px;
  background-color: gray;;
}


.about-out-div {
  max-height: 570px;

}

.ac-header-span {
  background-color: #e3e3e3;
  height: 27px;
  padding-left: 5px;
  padding-right: 5px;
}

/* .ac-header-h4 {
  color: gray;
  text-shadow: 1px 1px 1px #2698c7;
  text-transform: uppercase;
} */

h4 {
  font-family: 'oxanium', sans-serif;
} 
.about-container {

  width: 25rem;
  margin: 0 auto;

  justify-content: center;
}

.about-card {
  background: #f0f0f0;
  height: 450px;

  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease, opacity 0.4s ease;
}


/* .test {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.about-text {
  font-size: 16px;
  font-family: 'oxanium', sans-serif;
  color: #5f5f5f;
  

  
}

.about-span {
  background-color: white;
  /* margin-bottom: 15px; */
}

@media only screen and (max-width: 1024px) {


}



@media only screen and (max-width: 430px) {
  .ac-outer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .ac-test {
    width: 22rem;
    
  }

.otv-cont-mobile, .ac-card-outer {
  
  width: 22rem;
}

.about-card {
  height: auto;
}
 /* .test,
 .about-container {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
 } */
/* .ap-card-outer {
  display: flex;
  justify-content: center;
  border: 2px solid red;
} */

audio {
  max-width: 100%;
}
  

}

@media only screen and (max-width: 390px) {
.otv-cont-mobile, .ac-card-outer {
  
  width: 21rem;
}

}

@media only screen and (max-width: 375px) {
.otv-cont-mobile, .ac-card-outer {
  
  width: 20rem;
}

}