body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Header Styles */









@media only screen and (max-width: 375px) {

  #txt .nav-link {
  font-family: "Michroma", sans-serif;
  color: #474747;
  font-weight: 500;
  font-size: 10px;
  margin-top: 1rem;
/* margin-right: 20px;
margin-left: 20px; */

}
.list {
  font-size: 12px;
  border: 2px solid red;
}

}