

.hp-header {
    margin-top: 30px;
    text-align: center;
    font-family: 'Michroma', sans-serif;
    color: white; 
    font-size: 50px;;
}

.hp-header-span {
    text-shadow: 3px 1px 2px #62b5b4;
}

.sub-header-p {
    font-size: 30px;
    color: white;
    font-family: 'Michroma';
}

.sub-header-span {
    text-shadow: 3px 1px 2px #2698c7;
}



@media only screen and (max-width: 1368px) {

    .hp-header p {
        font-size: 40px;
    }

}

@media only screen and (max-width: 1018px) {

    .hp-header p {
        font-size: 40px;
    }

}

@media only screen and (max-width: 941px) {


    .hp-header p {
        font-size: 35px;
    }


}

@media only screen and (max-width: 825px) {


    .hp-header p {
        font-size: 30px;
    }


}

@media only screen and (max-width: 710px) {


    .hp-header p {
        font-size: 25px;
    }


}

@media only screen and (max-width: 579px) {
   .hp-header p {
        font-size: 22px;
    }
    
    .sub-header-p {
        font-size: 20px;
    }


}

@media only screen and (max-width: 540px) {
   .hp-header p {
        font-size: 20px;
    }
    
    .sub-header-p {
        font-size: 20px;
    }


}




@media only screen and (max-width: 466px) {
    .hp-header p {
        font-size: 18px;
    }

    .sub-header-p {
        font-size: 17px;
    }

}

@media only screen and (max-width: 414px) {
    .hp-header p {
        font-size: 16px;
    }

    .sub-header-p {
        font-size: 16px;
    }

}

@media only screen and (max-width: 375px) {
    .hp-header p {
        font-size: 15px;
    }
        .sub-header-p {
        font-size: 15px;
    }

}

/* @media only screen and (max-width: 360px) {
    .hp-header p {
        font-size: 15px;
    }

} */

@media only screen and (max-width: 344px) {
    .hp-header p {
        font-size: 14px;
    }

}

@media only screen and (max-width: 324px) {
    .hp-header p {
        font-size: 12px;
    }
        .sub-header-p {
        font-size: 11px;
    }
}