.ima-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;

}

.ima-div {
    margin: 1rem;
    opacity: .85;
}
/* .ima {
    float: left;
    width: 90%;
} */

/* .ima {
    box-shadow: 3px 0px 0px #c9c9c9;
} */


@media only screen and (max-width: 375px) {
/* 
    .ima {
        max-width: 33%;
        height: auto;
        margin: 0 auto;
        overflow: none;
    } */
}